.center-object {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 10px 0;
    position: relative; //untuk container
}

.pdf-preview-container{
    left: 50%;
    position: absolute; //untuk content
    transform: translate(-50%, 0);     
}

canvas{
    width: auto !important;
    max-width: unset !important;
    height: auto !important;
    display: block;
}