@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.radio-label1 .form-check-label {
    font-family: "Sevillana", cursive;
    font-size: 28px;
    font-weight: normal;
    text-transform: lowercase;
};

.radio-label2 .form-check-label {
    font-family: "Dancing Script", cursive;
    font-size: 28px;
    font-weight: normal;
    text-transform: lowercase;
};

.radio-label3 .form-check-label {
    font-family: "Caveat", cursive;
    font-size: 28px;
    font-weight: normal;
    text-transform: lowercase;
};

.radio-label4 .form-check-label {
    font-family: "Satisfy", cursive;
    font-size: 28px;
    font-weight: normal;
    text-transform: lowercase;
};

.radio-label5 .form-check-label {
    font-family: "Great Vibes", cursive;
    font-size: 28px;
    font-weight: normal;
    text-transform: lowercase;
};

.radio-doc-settings label{
    font-size: 16px;
}

.user-font{ 
  color: red;
  font-weight: 400;
  font-size: 14px;
}