.center-object {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 10px 0;
    position: relative; //untuk container
    margin-top: 100px;
}


.vertical-center {
    left: 50%;
    position: absolute; //untuk content
    transform: translate(-50%, 0);
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body {
    background-color: rgb(241, 241, 241);  
}

canvas{
    width: auto !important;
    max-width: unset !important;
    height: 170px !important;
    display: block;
}

.transparent-backdrop {
  background-color: transparent !important;
}

.initial-modal-content {
  background-color: white; 
  border-radius: 8px;
  padding: 20px;
}
