.table-scroll {
    height: 500px;
    // padding: 0px;
    overflow: hidden;
   
    table.flex-table{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    thead{
        display: block;
        width: 100%;
    }

    tbody{
        display: block;
        flex: 1;
        // overflow-y: auto;
        width: 100%;
    }

    .scroller-tbody{
        display: block;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        padding: 15px;
    }

    tr{
        display: flex;
        width: 100%;
    }

    th, td{
        flex: 1;
        text-align: center;
        min-width: 130px;
    }

}

.signer-font{
    font-size: 13px;
    color: grey;
}