body{
  width: 100%;
}

.items{
  list-style: none;
  padding-left: 0;
}

.items ul li{
  margin: 0px;
}

.items ul li span {
  text-decoration: none;
  display: block;
}

.toggle-button{
  cursor: pointer;
}

.toggle-button>input{
  display: none;
}


.main{
  display: flex;
}

.sidebar{
  height: 100vh;
  background-color: #4765d4;
  color: white;
  padding: 20px;
  width: 270px;
  transition: width 0.3s;
  overflow: hidden;

  //#7d97f4
  //#4765d4
}

.content{
  // padding-top: 40px;
  // padding-right: 0px;
  // padding-left: 0px;
  padding: 30px;
}

.sidebar:has(.toggle-button input:checked){
  width: 65px;
  text-align: center;
  justify-content: center;
}

.sidebar:has(.toggle-button input:checked) .items span .folder-hidden{
  display: none;
}

.folder-hidden{
  display: none;
}

.items-menu {
  padding: 7px;
  cursor: pointer;
  margin-left: -10px;

  &.has-children > .menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    color: white;
    text-decoration: none;
  }

  .menu-title {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 7px;

    &:hover {
    background-color: #7d97f4;
    
  }
  }
}

.submenu-items {
  list-style: none;
  padding-left: 20px;
}

.img-items{
  text-align: center;
  justify-content: center;
}

.custom-select-wrapper {
  position: relative;
  width: 230px;
}

.custom-select {
  border: 1px solid #eed4dd;
  padding: 8px;
  border-radius: 4px;
  background-color: #ffa7a5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-option {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.identity-color {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  flex-shrink: 0;
}

.custom-options {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #ffa7a5;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.custom-option {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #7b93f3;
}
